[submodule "sdks/uiwrap"]
	path = sdks/uiwrap
	url = /home/markus/projects/git/libs/uiwrap/
[submodule "gui/Qt/qt_qml_extensions"]
	path = gui/Qt/qt_qml_extensions
	url = /home/markus/projects/git/qt_qml_extensions/
[submodule "sdks/toolib"]
	path = sdks/toolib
	url = /home/markus/projects/git/libs/toolib
[submodule "sdks/util"]
	path = sdks/util
	url = /home/markus/projects/git/libs/util.git
