[submodule "sdks/util"]
	path = sdks/util
	url = https://github.com/devmarkusb/util
[submodule "gui/Qt/qt_qml_extensions"]
	path = gui/Qt/qt_qml_extensions
	url = https://github.com/devmarkusb/qt_qml_extensions
[submodule "sdks/uiwrap"]
	path = sdks/uiwrap
	url = git@github.com:devmarkusb/uiwrap.git
